body {
  background-image: url(gridme.png);
  font-size: 1.8em;
}

h1{
 font-family: 'Fredoka One', cursive !important;
}

.top{
  margin-top: 3%;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: #FEFF80 !important;
}
