body {
  background-image: url(gridme.png);
  font-size: 1.8em;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

.top{
  margin-top: 3%;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: #cff4fd !important;
}
